
<!DOCTYPE html>

{% extends 'main_pages/base.html' %}
<html>
<head>
    <title>Login Form</title>
</head>
<body>
    <div class="login-form">
        <h1>Login</h1>
        <form action="{% url 'login_view' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            
            <button type="submit" name="login">Login</button>
        </form>
        <button onclick="location.href='/signup/';">Sign up</button>
    </div>
</body>
</html>
