{% extends 'main_pages/base.html' %}

{% load bootstrap5 %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Sign Up</div>
          <div class="card-body">
            <form method="post" action="{% url 'signup' %}">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                <button type="submit" class="btn btn-primary">Sign Up</button>
              {% endbuttons %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}