{% extends "main_pages/base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

<!-- Hero Section -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Welcome to Our Online Store</h1>
                <p>Browse local listings.</p>
            </div>
        </div>
    </div>
</section>

<!-- Featured Products -->
<section class="featured-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Products</h2>
            </div>
        </div>
        <div class="row">
          {% for listing in listings %}
          <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="{{ listing.image.url }}" alt="{{ listing.productName }}">
                  <div class="card-body">
                      <p class="card-title">{{ listing.productName }}</p>
                      <p class="card-text">{{ listing.desc }}</p>
                    </div>
                    <div class = "card-footer">
                        <p class="card-text">{{ listing.price }}</p>
                    </div>
              </div>
          </div>
      {% endfor %}
        </div>
    </div>
</section>

<!-- About Us Section -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>We are a team of passionate individuals dedicated to providing our customers with the best shopping experience possible. Our online store offers a wide variety of products at affordable prices, and we are constantly adding new items to our inventory.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
