{% extends 'main_pages/base.html' %}
{% block head %}
  {% load static %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
  {% bootstrap_javascript %}
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">My Listings</h1>
    <a href="{% url 'addlisting' %}" class="btn btn-primary mb-4">Add a new listing</a>
    <div class="row">
      <h1 class = "my-4">Current Listings: </h1>
        {% for listing in listings %}
        <script>console.log("In the for loop")</script>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="{{ listing.image.url }}" alt="{{ listing.productName }} image">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.productName }}</h5>
                    <p class="card-text">{{ listing.desc }}</p>
                </div>
                <div class="card-footer">
                    <p class="card-text">{{ listing.price }}</p>
                    <button class="btn btn-danger btn-delete" data-id="{{ listing.id }}">Delete</button>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      console.log("AJAX script loaded")
      $('.btn-delete').click(function() {
        console.log("Button clicked..");
        var listing_id = $(this).data('id');
        $.ajax({
          url: "/deletelistings/",
          method: "POST",
          data: {
            listing_id: listing_id,
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function(data) {
            // Reload the page to remove the deleted listing
            location.reload();
          },
          error: function(xhr, status, error) {
            console.log(xhr.responseText);
            console.error(xhr.responseText);
          }
        });
      });
    });
  </script>
{% endblock %}
{% endblock %}